<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <!-- Database connection settings -->
        <property name="connection.driver_class">org.postgresql.Driver</property>
        <property name="connection.url">jdbc:postgresql://95.140.157.16:5432/cats_tracking</property>
        <property name="connection.username">dimonlimon</property>
        <property name="connection.password">dimon239239</property>

        <!-- SQL dialect -->
        <property name="dialect">org.hibernate.dialect.PostgreSQLDialect</property>

        <!-- Echo all executed SQL to stdout -->
        <property name="show_sql">true</property>

        <!-- Disable automatic schema generation -->
        <property name="hbm2ddl.auto">update</property>

        <!-- Names the annotated entity class -->
        <mapping class="Models.Owner"/>
        <mapping class="Models.CatsMainInfo"/>
        <mapping class="Models.OwnersWithCats"/>
        <mapping class="Models.CatsWithFriends"/>

    </session-factory>
</hibernate-configuration>
